* {
    margin: 0;
}
body {
    background-image: url('/img/Madsol.jpg');
    background-size: cover;         /* Cover the entire screen */
    background-position: center; 
    transition: 0.7s;   /* Center the image */
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);  /* Prevent tiling */
    height: 100vh;;                   /* Full viewport height */
    margin: 0;    
  }
  .navbar{
    justify-content: center;
    display: flex;
    align-items: center;
    color: beige;
    width: 100%;
    height: 50px;
    background-color: rgb(108, 108, 171);
  }
  .nav-items{
    justify-content: center;
    align-items: center;
  }
